.App {
  text-align: center;
  background-color: #d9e3f6;
  min-height: 100vh;
}

.text-sentiment-app-header {
  padding: 20px;
}

.crystal-ball-img {
  height: 212px;
  width: 212px;
}

h1, .input-label, .output-label, .output-text {
  color: rgb(64, 103, 137);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.input-text-box {
  height: 100px;
  width: 450px;
  margin-left: 20px;
  border: none;
  box-shadow: 0px 0px 5px grey;
  border-radius: 15px;
  padding: 10px;
}

.input-text-box:focus {
  outline: none;
}

.text-sentiment-input-area, .text-sentiment-output-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.output-label {
  margin-right: 20px;
}